.blog-link {
    text-decoration: none;
    color: initial;
    background: #f4f4f4;
    color: #000000;
    display: block;
    padding: 0.5rem;
    margin: 1rem;
}

.blog-link:hover{ 
    color: #555555;
}

.blog-list {
    list-style-type: none;
    margin: 0;
}

.blog-title {
    margin: 1rem;
}

.post {
    margin: 1rem 0;
    width: 100%;
} 

.excerpt {
    max-width: 700px;
    margin: 1rem;
}

.blog-date {
    font-style: italic;
    font-size: .8rem;
    color: #777777;
    margin: 1rem;
}